<div class="primary-border-t primary-grad-bottom">
    <div class="app-container">
        <div class="grid-masonry pt-5 px-3 primary-border-b">
            <div class="masonry-item pb-5">
                <div class="masonry-item-inner">
                    <p class="text-x-large fw-bold text-white mb-4">freelancerdevs</p>
                    <p class="text-secondary">A team of expert developers creating beautiful, functional, and user-centered digital experiences</p>
                </div>
            </div>
            <div class="masonry-item pb-5">
                <div class="masonry-item-inner">
                    <div class="masonry-item-inner">
                        <p class="text-x-large fw-bold text-white mb-4">Quick Links</p>
                        <div>
                            <ul class="gap-1 d-flex flex-column nav">
                                <li>
                                    <a class="text-decoration-none text-secondary" href="#profile-section">About</a>
                                </li>
                                <li>
                                    <a class="text-decoration-none text-secondary" href="#projects-section">Projects</a>
                                </li>
                                <li>
                                    <a class="text-decoration-none text-secondary" href="#experience-section">Experience</a>
                                </li>
                                <li>
                                    <a class="text-decoration-none text-secondary" href="#contact-section">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="masonry-item pb-5">
                <div class="masonry-item-inner">
                    <p class="text-x-large fw-bold text-white mb-4">Contact</p>
                    <div class="text-secondary">
                        <p class="mb-1">contact.freelancerdevs&#64;gmail.com</p>
                        <p class="mb-1">+91 8295309717</p>
                        <p class="mb-1">Hyderabad, India</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-secondary text-center p-4">© 2025 freelancerdevs. All rights reserved.</p>
    </div>
</div>