<div class="primary-border-b primary-border-t py-5 mt-5">
    <div class="d-flex justify-content-center gap-4">
        <div class="card w-200">
            <div class="d-flex align-items-center gap-3">
                <img src="/assets/program.svg">
                <div>
                    <p class="card-title">Disteven</p>
                    <p class="card-subtitle">The better way to split money</p>
                </div>
            </div>
            <div class="card-subtitle mt-3 mb-2 text-large">
                Distribute money evenly,
                Manage your expenses. Track pending funds. Create groups.
            </div>
        </div>
        <div class="card w-200">
            <div class="d-flex align-items-center gap-3">
                <img src="/assets/program.svg">
                <div>
                    <p class="card-title">Disteven</p>
                    <p class="card-subtitle">The better way to split money</p>
                </div>
            </div>
            <div class="card-subtitle mt-3 mb-2 text-large">
                Distribute money evenly,
                Manage your expenses. Track pending funds. Create groups.
            </div>
        </div>
        <div class="card w-200">
            <div class="d-flex align-items-center gap-3">
                <img src="/assets/program.svg">
                <div>
                    <p class="card-title">Disteven</p>
                    <p class="card-subtitle">The better way to split money</p>
                </div>
            </div>
            <div class="card-subtitle mt-3 mb-2 text-large">
                Distribute money evenly,
                Manage your expenses. Track pending funds. Create groups.
            </div>
        </div>
        <div class="card w-200">
            <div class="d-flex align-items-center gap-3">
                <img src="/assets/program.svg">
                <div>
                    <p class="card-title">Disteven</p>
                    <p class="card-subtitle">The better way to split money</p>
                </div>
            </div>
            <div class="card-subtitle mt-3 mb-2 text-large">
                Distribute money evenly,
                Manage your expenses. Track pending funds. Create groups.
            </div>
        </div>
    </div>
</div>
