
<div class="experience-container">
    <div class="greeting text-blue">GET IN TOUCH</div>
    <p class="fs-3 fw-bold my-3">Contact us</p>
    <p class="text-secondary mb-3">Have a project in mind? We'd love to hear from you. Drop us a line and we'll get back to you as soon as possible.</p>
    <div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                <div class="primary-border rounded p-3 w-100">
                    <div class="d-flex align-items-center gap-3 my-4">
                        <i class="bi  bi-chat-left fs-5 text-blue"></i>
                        <p class="text-x-large fw-bold text-white">Send us a message</p>
                        <p class="text-secondary mx-1">Or</p>
                        <a href="https://calendly.com/contact-freelancerdevs/30min" target="_blank" class="text-decoration-none text-white btn btn-primary btn-sm d-flex gap-2 align-items-center">
                            <i class="bi bi-calendar-check text-white"></i>
                            <span>Schedule a call!</span>
                        </a>
                    </div>
                    <form [formGroup]="contactForm">
                        <div class="mb-4 text-start">
                            <label class="form-label">Your Name</label>
                            <input type="text" formControlName="name" class="form-control bg-secondary" placeholder="Eg: John Doe">
                            <p class="mt-2" *ngFor="let validation of validationMessages.name">
                                <span class="text-danger"
                                    *ngIf="contactForm.get('name')?.hasError(validation.type) && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched || submitted)">{{validation.message}}</span>
                            </p>
                        </div>
                        <div class="mb-4 text-start">
                            <label class="form-label">Email Address</label>
                            <input type="email" formControlName="email" class="form-control bg-secondary" placeholder="Eg: example@gmail.com">
                            <p class="mt-2" *ngFor="let validation of validationMessages.email">
                                <span class="text-danger"
                                    *ngIf="contactForm.get('email')?.hasError(validation.type) && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched || submitted)">{{validation.message}}</span>
                            </p>
                        </div>
                        <div class="mb-4 text-start">
                            <label class="form-label">Phone Number</label>
                            <div class="d-flex align-items-center primary-border rounded">
                                <ng-select [items]="countryCodeList" 
                                    bindValue="value"
                                    formControlName="phoneCountryCode"
                                    placeholder="Select"
                                    [clearable]="false"
                                    class="border-none menu-250 w-80">
                                    <ng-template ng-option-tmp let-item="item">
                                        {{ item.value }} - {{ item.countryName }}
                                    </ng-template>
                                
                                    <ng-template ng-label-tmp let-item="item">
                                        {{ item.value }}
                                    </ng-template>
                                </ng-select>
                                <input type="number" formControlName="phone" class="form-control bg-secondary border-0 w-100 rounded-end rounded-start-0" placeholder="Eg: 0123456789">
                            </div>
                            <p class="mt-2" *ngFor="let validation of validationMessages.phone">
                                <span class="text-danger"
                                    *ngIf="contactForm.get('phone')?.hasError(validation.type) && (contactForm.get('phone')?.dirty || contactForm.get('phone')?.touched || submitted)">{{validation.message}}</span>
                            </p>
                            <p class="mt-2" *ngFor="let validation of validationMessages.phoneCountryCode">
                                <span class="text-danger"
                                    *ngIf="contactForm.get('phoneCountryCode')?.hasError(validation.type) && (contactForm.get('phoneCountryCode')?.dirty || contactForm.get('phoneCountryCode')?.touched || submitted)">{{validation.message}}</span>
                            </p>
                        </div>
                        <div class="mb-4 text-start">
                            <label class="form-label">Company Name / Organization</label>
                            <input type="text" formControlName="companyName" class="form-control bg-secondary" placeholder="Eg: Acme Solutions">
                        </div>
                        <div class="mb-4 text-start">
                            <label class="form-label">Project Type</label>
                            <ng-select [items]="projectTypeList" 
                                bindLabel="name" 
                                bindValue="id"
                                formControlName="projectType"
                                placeholder="Select">
                            </ng-select>
                            <p class="mt-2" *ngFor="let validation of validationMessages.projectType">
                                <span class="text-danger"
                                    *ngIf="contactForm.get('projectType')?.hasError(validation.type) && (contactForm.get('projectType')?.dirty || contactForm.get('projectType')?.touched || submitted)">{{validation.message}}</span>
                            </p>
                        </div>
                        <div class="mb-4 text-start">
                            <label class="form-label">Your Message / Project Details </label>
                            <textarea class="form-control bg-secondary" formControlName="description" placeholder="Tell us about your project..." rows="3"></textarea>
                            <p class="mt-2" *ngFor="let validation of validationMessages.description">
                                <span class="text-danger"
                                    *ngIf="contactForm.get('description')?.hasError(validation.type) && (contactForm.get('description')?.dirty || contactForm.get('description')?.touched || submitted)">{{validation.message}}</span>
                            </p>
                        </div>
                        <div class="mb-4 text-start">
                            <label class="form-label">How Did You Hear About Us?</label>
                            <ng-select [items]="discoveryList" 
                                bindLabel="name" 
                                bindValue="id"
                                formControlName="discoveryType"
                                (change)="onDiscoveryChange($event)"
                                placeholder="Select">
                            </ng-select>
                        </div>
                        <div class="mb-4 text-start" *ngIf="isDiscoveryOtherSelected">
                            <input type="text" formControlName="discoveryDescription" class="form-control bg-secondary" placeholder="Eg: Instagram">
                            <p class="mt-2" *ngFor="let validation of validationMessages.discoveryDescription">
                                <span class="text-danger"
                                    *ngIf="contactForm.get('discoveryDescription')?.hasError(validation.type) && (contactForm.get('discoveryDescription')?.dirty || contactForm.get('discoveryDescription')?.touched || submitted)">{{validation.message}}</span>
                            </p>
                        </div>
                        <button type="submit" class="btn btn-primary d-flex align-items-center" (click)="onContactFormSubmit()" [disabled]="isRequestInProgress">
                            <div class="spinner-border text-light spinner-border-sm me-2" *ngIf="isRequestInProgress" role="status">
                                <span class="sr-only"></span>
                            </div>
                            Submit
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mb-5">
                <div class="d-flex flex-column primary-border rounded p-3 primary-grad w-100 h-100">
                    <div class="">
                        <div class="d-flex align-items-center gap-3">
                            <i class="bi bi-envelope fs-5 text-blue"></i>
                            <p class="text-x-large fw-bold text-white my-4">Contact Information</p>
                        </div>
                        <div>
                            <div class="mb-4 text-start">
                                <p class="text-small text-secondary mb-2">Message us at</p>
                                <a href="mailto:contact.freelancerdevs@gmail.com" class="fw-bold text-decoration-none text-blue">contact.freelancerdevs&#64;gmail.com</a>
                            </div>
                            <div class="mb-4 text-start">
                                <p class="text-small text-secondary mb-2">Call us at</p>
                                <p class="fw-bold text-white">+91 8295309717</p>
                            </div>
                            <div class="mb-4 text-start">
                                <p class="text-small text-secondary mb-2">Our location</p>
                                <p class="fw-bold text-white">Hyderabad, India</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-5">
                        <img src="/assets/contact-svg.svg" class="contact-img"/>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>