.card {
    border: 1px solid #3d2f77;
    border-radius: 6px;
    background-color: transparent;
    padding: 16px;
    width: 100%;
    
    &-subtitle {
        font-size: 14px;
        color: antiquewhite;
    }

    &-title {
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    &:hover {
        background-color: #14142a;
    }
}