.card {
    border: 1px solid #3d2f77;
    border-radius: 6px;
    background-color: transparent;
    padding: 16px;
    width: 100%;
    
    &-subtitle {
        font-size: 14px;
        color: antiquewhite;
    }

    &-title {
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    &:hover {
        background-color: #14142a;
    }
}

.approach-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.collage-container {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 800px;
    height: 400px;
    margin: auto;
    padding: 10px;
}

.collage-item {
    overflow: hidden;
    border-radius: 10px;
}

.collage-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collage-item-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.collage-item-2 {
    grid-column: span 1;
    grid-row: span 1;
}

.collage-item-3 {
    grid-column: span 1;
    grid-row: span 1;
}

.collage-item-4 {
    grid-column: span 1;
    grid-row: span 1;
}

.collage-item-5 {
    grid-column: span 1;
    grid-row: span 1;
}

.approach-content {
    max-width: 100%; 
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.grid-masonry {
    width: 100%;
    column-count: 3;
    column-gap: 30px;
}

.grid-masonry-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .card {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

.masonry-item {
    break-inside: avoid;
    display: flex;
}

.masonry-item-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

// Media queries
// max width
@media (max-width:1024px) {
    .grid-masonry {
        width: 100%;
        column-count: 2;
    }

    .grid-masonry-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px) {
    .grid-masonry {
        width: 100%;
        column-count: 1;
    }

    .grid-masonry-2 {
        grid-template-columns: 1fr;
    }
    
    [class^="col-"], [class*=" col-"] {
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .collage-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        height: auto;
    }

    .collage-item-1 {
        grid-column: span 2;
    }
}

@media (max-width: 480px) {
    .collage-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        height: auto;
    }

    .collage-item {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .collage-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// min width
@media (min-width: 768px) {
    .approach-container {
        grid-template-columns: 1fr 1fr;
    }
    .approach-content {
        text-align: left;
    }
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
