.indigo-midnight-grad {
    background-image: linear-gradient(to bottom right, #102A43, #0D1B2A);
}

.purple-magenta-grad {
    background-image: linear-gradient(to bottom right, #2A0845, #6441A5);
    border: 1px solid #4A1C66;
}

.gray-emerald-grad {
    background-image: linear-gradient(to bottom right, #2C3E50, #1F6F78);
    border: 1px solid #395A5E;
}

.green-cyan-grad {
    background-image: linear-gradient(to bottom right, #013220, #116466);
    border: 1px solid #1A4A40;
}

.blue-violet-grad {
    background-image: linear-gradient(to bottom right, #3A3D5F, #6B5B95);
    border: 1px solid #514B75;
}

.indigo-midnight-border {
    border: 1px solid #1C3D5A;
}

.purple-magenta-border {
    border: 1px solid #4A1C66;
}

.gray-emerald-border {
    border: 1px solid #395A5E;
}

.green-cyan-border {
    border: 1px solid #1A4A40;
}

.blue-violet-border {
    border: 1px solid #514B75;
}

.bg-electric-blue {
    background-color: rgb(23 48 77 / 50%);
}