.app-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
}

.page-container {
    padding: 20px;
}

.bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    .bubble {
        position: absolute;
        background: #201a3f; // Light Blue
        border-radius: 50%;
        filter: blur(10px);
        opacity: 0.7;
    }
}