.bg-primary {
    background-color: #090E16;
}

.box {
    height: 50px;
    width: 50px;
    background-color: #fff;
}

.top-20 {
    top: 20px;
}

.greeting {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #14142a;
}

.home-avatar {
    height: 230px;
    margin-left: 11px;
}

.w-200 {
}

.bg-secondary {
    background-color: #14142a

    !important;
}

.primary-border-b {
    border-bottom: 1px solid #3d2f77;
}

.profile {
    border: 1px solid #3d2f77;
    border-radius: 50%;
    overflow: hidden;

    img {
        height: 250px;
        width: 250px;
    }
}

.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 20px;
    border-radius: 16px;
    background-color: #090E16;

    &.bg-secondary {
        .greeting {
            background-color: #090E16;
        }
    }
}

.h-100-20 {
    height: calc(100vh - 20px);
}
