.bg-primary {
    background-color: #090E16;
}

.box {
    height: 50px;
    width: 50px;
    background-color: #fff;
}

.top-20 {
    top: 20px;
}

.greeting {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #14142a;
}

.home-avatar {
    height: 230px;
    margin-left: 11px;
}