.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    height: calc(100vh - 20px);
}

@media (max-width: 991px) { /* Tablets (md to lg) */
    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
        gap: 40px;

        .left-content {
            text-align: center;
        }
    }
}


