.text-large {
    font-size: 14px;
}

.text-x-large {
    font-size: 16px;
}

.text-xx-large {
    font-size: 18px;
}

.text-xxx-large {
    font-size: 20px;
}

.text-blue {
    color: #7B4AE2
}

.text-yellow {
    color: #e0bf18
}