@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.scss';

@import 'font';
@import 'color';
@import 'layout';
@import 'typography';
@import 'button';
@import 'input';
@import 'nav';

@import 'misc';
@import 'queries';
@import 'card';

* {
    padding: 0;
    margin: 0;
}

body {
    color: #ffffff;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 13px;
    background-color: #090E16;
}

.bg-green {
    background-color: #304f2f;
}

.text-primary {
    color: #ffffff;
}

.bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    .bubble {
        position: absolute;
        background: #201a3f; // Light Blue
        border-radius: 50%;
        filter: blur(10px);
        opacity: 0.7;
    }
}

