@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 217 91% 60%;
    --primary-rgb: 59, 130, 246;
    --primary-foreground: 169 100% 70%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 32% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 224 76% 48%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--secondary));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--primary)/0.75);
  border-radius: 5px;
  border: 2px solid hsl(var(--secondary));
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary));
}

::selection {
  /* dark */
  background: #1b1b1b;
  color: wheat;
}

@layer utilities {
  .animate-gradient {
    background-size: 200% auto;
    animation: gradient 8s linear infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% center;
    }
    50% {
      background-position: 100% center;
    }
    100% {
      background-position: 0% center;
    }
  }
}

