<!-- <div class="profile-container">
    <div class="profile-card" #profileCard>
        <div class="profile">
            <img src="/assets/home-character.svg" />
        </div>
        <div>
            <div class="greeting">
                <span>🧐</span>
                <span class="text-blue">Full stack Developer</span>
            </div>
            <p class="fs-3 fw-bold my-4">Syed Ali</p>
            <p>👋 My name is Syed Ali, but you can call me Syed. Nice to meet you!</p>
            <p>👨‍💻 With over 2 years of experience developing and building scalable <br />backend systems using Node.js, TypeScript, and databases like PostgreSQL and MongoDB.</p>
            <p>🎓 Graduated in [Your Degree] from [Your University].</p>
            <p>💡 Passionate about backend development, API design, microservices architecture, and cloud computing.</p>
            <p>🚀 Constantly striving to improve my skills and deliver high-performance solutions every day.</p>
        </div>
    </div>

    <div class="profile-card" #profileCard>
        <div class="profile">
            <img src="/assets/home-character.svg" />
        </div>
        <div>
            <div class="greeting">
                <span>🧐</span>
                <span class="text-blue">Frontend Developer</span>
            </div>
            <p class="fs-3 fw-bold my-4">Kajal Kumari</p>
            <p>👋 My name is Syed Ali, but you can call me Syed. Nice to meet you!</p>
            <p>👨‍💻 With over 2 years of experience developing and building scalable backend <br />systems using Node.js, TypeScript, and databases like PostgreSQL and MongoDB.</p>
            <p>🎓 Graduated in [Your Degree] from [Your University].</p>
            <p>💡 Passionate about backend development, API design, microservices architecture, and cloud computing.</p>
            <p>🚀 Constantly striving to improve my skills and deliver high-performance solutions every day.</p>
        </div>
    </div>
</div> -->

<div class="profile-container">
    fevgrfvgrfvbgfrt
</div>