<div class="navbar d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-2">
        <img class="logo" src="/assets/coding.png" />
        <span class="text-xx-large font-mono-space">FreelancerDevs</span>
    </div>
    <div>
        <ul class="d-flex nav align-items-center gap-5">
            <li>ABOUT</li>
            <li>PROJECTS</li>
            <li>CONTACT US</li>
            <li>
                <i class="bi bi-list menu"></i>
            </li>
        </ul>
    </div>
</div>