<div class="position-relative">
    <div class="home-content primary-border-b position-relative overflow-hidden">
        <div class="bubble-container"></div>
        <div class="content d-flex align-items-center justify-content-between gap-5 ">
            <div class="left-content w-100 position-relative">
                <div class="greeting">
                    <span>👋</span>
                    <p class="typewrite text-blue text-decoration-none" data-period="2000"
                        data-type='["Hello!", "Hola!", "Konnichiwa!", "Bonjour!", "NEE-haow!"]'>
                        <span class="wrap"></span>
                    </p>
                </div>
                <div class="home-heading">
                    <p>Your End-to-End Web Development
                    & Product Experts</p>
                </div>
                <div class="home-hire">
                    <p class="fs-6 text-yellow mb-4">Let's take your website to next level</p>
                    <button class="btn btn-primary"><a href="#contact-section" class="text-decoration-none text-white">Hire Us</a></button>
                </div>
            </div>
            <div class="w-100">
                <img src="/assets/hero-svg.svg" class="w-100 h-450" />
            </div>
        </div>
    </div>
</div>